{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main-page">
    <div class="main-section">
        <div class="container">
            <h1 class="main-header">Recent status</h1>
            <div class="status-card-section">
                {% if message_type == 'success' %}
                <div class="status-card success-card">
                    <i class="fas fa-quote-left"></i>
                    <span>
                        Your status successfully posted
                    </span>
                </div>
                {% endif %}
                <div class="status-card caution-corona">
                    <div class="status-card-body caution-body">
                        <i class="fas fa-exclamation-triangle"></i>
                        <p class="status-body-text">
                            Due to corona virus outbreak. We recommend to stay at home.
                            <br>Corona cases in Indonesia is {{corona_case}} cases.
                            <br><br> Source : kompas.com
                        </p>
                    </div>
                </div>
                {% for status in statuses %}
                <div class="status-card" style="background-color: {{status.color.color_code}};">
                    <div class="status-card-head">
                        <div class="status-card-profile-section">
                            <img class="status-card-profile-picture"
                                src="https://img.freepik.com/free-vector/abstract-colorful-flow-shapes-background_23-2148258092.jpg?size=626&ext=jpg"
                                alt="..">
                            <h3 class="status-profile-name">{{status.nama}}</h3>
                        </div>
                        <div class="status-card-like-section">
                            <span class="heart-icon" postId="{{status.id}}" onclick="likeStatus(this, {{status.id}})"><i
                                    class="far fa-heart"></i></span>
                            <h4 class="status-profile-name likes-counter">{{status.like_count}} likes</h4>
                        </div>
                    </div>
                    <div class="status-card-body">
                        <p class="status-body-text">
                            {{status.pesan}}
                        </p>
                    </div>
                    <div class="status-card-footer">
                        <a href="/changecolor/{{status.id}}">
                            <button class="change-color-button">Change color</button>
                        </a>
                        <small>{{status.created_date}}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="container">
            <h1 class="main-header">
                <span class="header-icon"><i class="fas fa-pencil-alt"></i></span>
                Write your status
            </h1>
            {% if message_type == 'status_empty' %}
            <div class="status-card danger-card">
                <i class="fas fa-exclamation"></i>
                <span>
                    Please fill status field, status cannot empty
                </span>
            </div>
            {% endif %}
            <form action="/addstatus/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <span class="form-label-group">
                        <h3>name</h3>
                        <h3 class="label-info">(Optional)</h3>
                    </span>
                    <input type="text" id="inputName" class="input-name" name="nama" placeholder="put your name here"
                        autocomplete="off">
                </div>
                {% if message_type == 'status_empty' %}
                <div class="form-group">
                    <h3>status</h3>
                    <textarea row="4" class="input-danger" id="inputStatus" name="status"
                        placeholder="today i feel really.."></textarea>
                </div>
                {% else %}
                <div class="form-group">
                    <h3>status</h3>
                    <textarea row="4" id="inputStatus" name="status" placeholder="today i feel really.."></textarea>
                </div>
                {% endif %}
                <div class="form-button-group">
                    <a onclick="cleanForm()" class="discard-button">Discard</a>
                    <button type="submit" class="status-submit-button">Add my status</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function cleanForm() {
        document.getElementById('inputName').value = '';
        document.getElementById('inputStatus').value = '';
    }

    if (localStorage.getItem('postLiked') != null) {
        likedData = JSON.parse(localStorage.getItem('postLiked'))['data'];
    } else {
        likedData = [];
        savedData = JSON.stringify({ "data": likedData });
        localStorage.setItem('postLiked', savedData);
    }

    likeIcon = document.getElementsByClassName('heart-icon');
    for (var i = 0; i < likeIcon.length; i++) {
        if (likedData.includes(parseInt(likeIcon[i].getAttribute('postid')))) {
            likeIcon[i].innerHTML = '<i class="fas fa-heart"></i>';
        }
    }

    function likeStatus(e, postId) {
        if (likedData.includes(postId)) {
            var index = likedData.indexOf(postId);
            if (index !== -1) likedData.splice(index, 1);
            e.innerHTML = '<i class="far fa-heart"></i>';
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    e.parentNode.childNodes[3].innerHTML = JSON.parse(this.responseText)['likeCount'] + ' likes';
                }
            };
            xhttp.open("POST", "/postlike/remove/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("postId=" + postId);
        } else {
            likedData.push(postId);
            e.innerHTML = '<i class="fas fa-heart"></i>';
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    e.parentNode.childNodes[3].innerHTML = JSON.parse(this.responseText)['likeCount'] + ' likes';
                }
            };
            xhttp.open("POST", "/postlike/add/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("postId=" + postId);
        }
        savedData = JSON.stringify({ "data": likedData });
        localStorage.setItem('postLiked', savedData);
    }
</script>
{% endblock %}