{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-page">
    <div class="confirm-page container">
        <h1 class="main-header">
            <i class="fas fa-clipboard-check"></i>
            Confirm Status
        </h1>
        <h2>Are you really want post this status ?</h2>
        <div class="form-confirm-section">
            <form action="/confirmstatus/" method="post">
                {% csrf_token %}
                <input type="hidden" name="nama" value="{{name}}">
                <input type="hidden" name="status" value="{{status}}">
                <input type="hidden" name="confirm" value="yes">
                {% if warning != '' %}
                <div class="confirm-warning">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>
                        {{warning}}
                    </span>
                </div>
                {% endif %}
                <div class="form-group">
                    <h3 class="form-confirmation-header">
                        <i class="far fa-address-card"></i>
                        Name
                    </h3>
                    <div class="form-confirmation-text">
                        {{name}}
                    </div>
                </div>
                <div class="form-group">
                    <h3 class="form-confirmation-header">
                        <i class="fas fa-align-left"></i>
                        Status
                    </h3>
                    <div class="form-confirmation-text">
                        {{status}}
                    </div>
                </div>
                <div class="form-button-group">
                    <a href="/" class="discard-button">Discard</a>
                    <button type="submit" class="status-submit-button confirm-button">Post this</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}